/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/app.scss */
body {
  background-color: #f4f4f8;
  margin: 0;
  padding: 0; }


/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/header.scss */
.custom-header {
  font-family: "Roboto";
  background-color: #f25f5c;
  color: #f4f4f8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10; }
  /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/header.scss */
  .custom-header .title {
    color: #f4f4f8;
    text-decoration: none; }
  /* line 18, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/header.scss */
  .custom-header .mdl-navigation__link {
    color: #f4f4f8;
    position: relative; }
    /* line 21, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/header.scss */
    .custom-header .mdl-navigation__link:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0px;
      background-color: #f4f4f8;
      transition: 0.25s ease-out; }
    /* line 33, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/header.scss */
    .custom-header .mdl-navigation__link:hover:before {
      height: 5px; }

/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
.pop-up {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
  width: 500px; }

/* line 16, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
.game-start {
  box-shadow: 0 0 10px rgba(80, 81, 79, 0.5);
  border-radius: 5px; }
  /* line 19, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
  .game-start .title {
    text-align: center;
    padding: 10px; }
  /* line 23, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
  .game-start .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    color: #50514f;
    border-bottom: 2px solid #50514f; }
  /* line 37, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
  .game-start .btn {
    background-color: #f25f5c;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #f4f4f8; }
  /* line 46, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
  .game-start .options {
    display: flex; }
    /* line 48, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/pop_up.scss */
    .game-start .options .btn {
      flex-grow: 1;
      flex-basis: 0; }

/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
.win-flag, .loss-flag {
  background-color: #70c1b3;
  position: absolute;
  height: 200px;
  top: calc(50% - 200px / 2);
  bottom: 0;
  right: 100px;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px rgba(80, 81, 79, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: "Roboto";
  color: #f4f4f8;
  animation: slide-in-left 1s ease-out; }
  /* line 26, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
  .win-flag .title, .loss-flag .title {
    text-align: right;
    transform: rotate(20deg) translateY(30%);
    font-size: 230px;
    transform-origin: right bottom;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; }
  /* line 39, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
  .win-flag .content, .loss-flag .content {
    text-shadow: 0 0 5px rgba(80, 81, 79, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: #f4f4f8; }
    /* line 51, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
    .win-flag .content .new-elo, .win-flag .content .prev-elo, .loss-flag .content .new-elo, .loss-flag .content .prev-elo {
      font-size: 32px;
      text-align: center;
      line-height: 200px;
      margin: 0 20px; }
    /* line 57, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
    .win-flag .content .new-elo, .loss-flag .content .new-elo {
      font-size: 48px; }

/* line 65, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
.loss-flag {
  background-color: #f25f5c;
  bottom: 0;
  right: 0;
  left: 100px;
  border-radius: 5px 0 0 5px;
  animation: slide-in-right 1s ease-out; }
  /* line 72, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
  .loss-flag .title {
    position: absolute;
    right: unset;
    left: 0; }
  /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/win_loss_flag.scss */
  .loss-flag .content {
    color: #50514f;
    flex-direction: row-reverse; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slide-in-right {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

/* line 5, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
.game-page {
  background-color: #50514f;
  padding: 5vh 0;
  display: flex; }
  /* line 10, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
  .game-page .chess-board {
    width: 90vh;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    position: relative; }
    /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
    .game-page .chess-board.rotate {
      transform: rotate(180deg); }
    /* line 17, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
    .game-page .chess-board .row {
      height: 11.25vh;
      display: flex;
      margin: 0;
      padding: 0; }
      /* line 25, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .game-page .chess-board .row:nth-child(2n) .tile:nth-child(2n) {
        background-color: #e6e6ea; }
      /* line 28, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .game-page .chess-board .row:nth-child(2n) .tile:nth-child(2n-1) {
        background-color: #f4f4f8; }
      /* line 35, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .game-page .chess-board .row:nth-child(2n-1) .tile:nth-child(2n) {
        background-color: #f4f4f8; }
      /* line 38, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .game-page .chess-board .row:nth-child(2n-1) .tile:nth-child(2n-1) {
        background-color: #e6e6ea; }
      /* line 44, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .game-page .chess-board .row .tile {
        width: 11.25vh;
        height: 11.25vh;
        line-height: 11.25vh;
        text-align: center;
        font-size: 3em;
        font-family: "Roboto";
        text-transform: uppercase;
        overflow: hidden;
        -webkit-user-select: none;
        position: relative; }
        /* line 56, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile:after {
          content: '';
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: center;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0; }
        /* line 69, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.rotate:after {
          transform: rotate(180deg); }
        /* line 74, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.pawn:after {
          background-image: url("/chess-icons/black-pawn-f4007d9278db726da1fc7a9dae747d9d.svg?vsn=d"); }
        /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.rook:after {
          background-image: url("/chess-icons/black-rook-b8b321d9bc120904d0e91cc7d69631b1.svg?vsn=d"); }
        /* line 80, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.bishop:after {
          background-image: url("/chess-icons/black-bishop-358199bf3bbf60707bd14d51f5a6195b.svg?vsn=d"); }
        /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.knight:after {
          background-image: url("/chess-icons/black-knight-73bb1bea3038a47a08113efaf2e74178.svg?vsn=d"); }
        /* line 86, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.king:after {
          background-image: url("/chess-icons/black-king-10a0f67eca4d83f155ac4d0403ffe072.svg?vsn=d"); }
        /* line 89, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-0.queen:after {
          background-image: url("/chess-icons/black-queen-94a03936ddb6454f9701cd664312e13e.svg?vsn=d"); }
        /* line 95, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.pawn:after {
          background-image: url("/chess-icons/white-pawn-0e0e93ec0ab93ae2e8fc81279e59d5e6.svg?vsn=d"); }
        /* line 98, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.rook:after {
          background-image: url("/chess-icons/white-rook-b30d5db104cbadec14b942462c44540d.svg?vsn=d"); }
        /* line 101, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.bishop:after {
          background-image: url("/chess-icons/white-bishop-27d4707215f3436c185e2b5207764b89.svg?vsn=d"); }
        /* line 104, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.knight:after {
          background-image: url("/chess-icons/white-knight-941ee75ecddc987184e67a1bb5f5f57d.svg?vsn=d"); }
        /* line 107, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.king:after {
          background-image: url("/chess-icons/white-king-e2d27341045bb0329255aedc1081e428.svg?vsn=d"); }
        /* line 110, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.color-1.queen:after {
          background-image: url("/chess-icons/white-queen-359116c6989bcf2dc4fc3e07a5e7da78.svg?vsn=d"); }
        /* line 116, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          transition: 0.25s ease-out; }
        /* line 134, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.valid:before {
          background-color: rgba(112, 193, 179, 0.25); }
        /* line 137, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.valid.target:before {
          background-color: rgba(242, 95, 92, 0.5); }
        /* line 140, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.active:before {
          background-color: rgba(36, 123, 160, 0.5); }
        /* line 143, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .game-page .chess-board .row .tile.opp-active:before {
          background-color: rgba(242, 95, 92, 0.5); }
  /* line 14, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
  .game-page .player {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column; }
    /* line 21, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
    .game-page .player .user-name, .game-page .player .score {
      text-align: center;
      font-family: "Roboto"; }
    /* line 26, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
    .game-page .player .user-name {
      text-transform: capitalize;
      color: #f25f5c;
      font-size: 2em;
      margin: 1em 0; }
      /* line 32, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
      .game-page .player .user-name.active-player {
        color: #247ba0; }
    /* line 37, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
    .game-page .player .score {
      color: #f4f4f8;
      font-size: 3em; }
  /* line 43, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
  .game-page .player-1 {
    flex-direction: column; }
  /* line 46, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
  .game-page .player-2 {
    flex-direction: column-reverse; }
  /* line 50, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
  .game-page .push_alert {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; }
    /* line 64, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
    .game-page .push_alert .message {
      height: 40px;
      line-height: 40px;
      border-radius: 2px;
      min-width: 200px;
      text-align: center;
      padding: 16px;
      font-size: 24px;
      color: #f4f4f8;
      text-transform: uppercase;
      margin: 5px;
      animation: fade 4s ease-in;
      animation-fill-mode: forwards; }
      /* line 80, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
      .game-page .push_alert .message.error {
        background-color: #f25f5c; }
      /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/game_page.scss */
      .game-page .push_alert .message.info {
        background-color: #70c1b3; }

@keyframes fade {
  10% {
    transform: scale(1.025); }
  20% {
    transform: none; }
  100% {
    opacity: 0; } }

/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
.games-page {
  position: absolute; }
  /* line 5, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
  .games-page .list {
    display: flex;
    flex-direction: column; }
    /* line 9, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
    .games-page .list .list-item {
      display: inline-block;
      margin: 0 auto; }
      /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
      .games-page .list .list-item .material-icons {
        margin-left: 32px;
        transition: 0.25s ease-in-out; }
      /* line 18, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
      .games-page .list .list-item .versus {
        margin: 0 16px; }
      /* line 21, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
      .games-page .list .list-item .link {
        color: #50514f; }
      /* line 26, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/games_page.scss */
      .games-page .list .list-item:hover .material-icons {
        color: #f25f5c; }

/* line 9, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
.logged_in-home_page {
  display: flex;
  height: calc(100vh - 74px);
  padding: 5px; }
  /* line 15, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .main, .logged_in-home_page .active_games, .logged_in-home_page .active_players {
    margin: 0 10px; }
  /* line 19, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .main {
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; }
    /* line 28, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .main .top {
      background-color: white;
      height: 50px;
      line-height: 50px;
      margin: 5px 0;
      border-radius: 2px;
      font-size: 16px;
      padding-left: 16px; }
      /* line 38, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .main .top .username {
        float: left;
        font-size: 24px;
        text-transform: capitalize; }
      /* line 44, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .main .top .buttons {
        float: right;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        background-color: #f25f5c;
        color: #f4f4f8;
        padding: 0 16px;
        border-radius: 2px; }
    /* line 60, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .main .news {
      display: flex;
      flex-direction: column; }
      /* line 64, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .main .news .scroll-section {
        overflow: scroll;
        overflow-y: auto;
        height: 100%; }
      /* line 70, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .main .news .card-wide {
        width: 100%;
        margin-bottom: 20px; }
  /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .active_games, .logged_in-home_page .active_players {
    overflow: hidden;
    display: flex;
    flex-direction: column; }
  /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .list-title, .logged_in-home_page .list-item {
    width: 300px;
    background-color: white;
    margin: 5px 0 0 0;
    height: 50px;
    min-height: 50px;
    line-height: 50px;
    padding-right: 0;
    border-radius: 2px;
    position: relative;
    outline: none;
    transition: 0.25s ease-in-out;
    overflow: hidden; }
    /* line 97, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title.close, .logged_in-home_page .list-item.close {
      height: 0px;
      min-height: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0; }
    /* line 105, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title.remove-link-styles, .logged_in-home_page .list-item.remove-link-styles {
      color: #50514f;
      text-decoration: none; }
    /* line 111, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title .material-icons, .logged_in-home_page .list-item .material-icons {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      color: #f4f4f8;
      background-color: #f25f5c;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 2px;
      transition: 0.25s ease-in-out;
      font-size: 28px;
      z-index: 2; }
      /* line 128, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .list-title .material-icons.first, .logged_in-home_page .list-item .material-icons.first {
        font-size: 28px;
        z-index: 2; }
      /* line 133, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .list-title .material-icons.second, .logged_in-home_page .list-item .material-icons.second {
        font-size: 0px;
        z-index: 1; }
      /* line 138, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .list-title .material-icons.open, .logged_in-home_page .list-item .material-icons.open {
        right: 255px; }
    /* line 143, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title .icon-search, .logged_in-home_page .list-item .icon-search {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      width: 0px;
      padding: 0px;
      line-height: 40px;
      font-size: 16px;
      color: #f4f4f8;
      background-color: #f25f5c;
      border-radius: 2px;
      outline: none;
      border: none;
      z-index: 1;
      transition: 0.25s ease-in-out; }
      /* line 163, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .logged_in-home_page .list-title .icon-search.open, .logged_in-home_page .list-item .icon-search.open {
        width: 245px;
        padding: 0 5px 0 40px; }
    /* line 171, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title:hover .material-icons.first, .logged_in-home_page .list-item:hover .material-icons.first {
      font-size: 0px;
      z-index: 1; }
    /* line 176, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .logged_in-home_page .list-title:hover .material-icons.second, .logged_in-home_page .list-item:hover .material-icons.second {
      font-size: 28px;
      z-index: 2; }
  /* line 184, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .list-title {
    padding-left: 16px;
    width: 284px;
    font-size: 16px;
    text-transform: uppercase; }
  /* line 193, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .logged_in-home_page .list {
    padding: 0;
    margin: 0 auto;
    overflow: scroll;
    overflow-y: auto; }

/* line 203, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
.home-page {
  font-family: "Roboto"; }
  /* line 205, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .home-page .intro, .home-page .about {
    background-color: #f25f5c;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    /* line 212, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .intro .message, .home-page .about .message {
      font-size: 2em;
      color: #f4f4f8;
      text-align: center;
      line-height: 1em;
      margin-bottom: 20px; }
      /* line 219, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .intro .message.larger, .home-page .about .message.larger {
        font-size: 3em;
        text-transform: capitalize;
        font-weight: bold; }
  /* line 228, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .home-page .intro {
    justify-content: flex-end;
    overflow: hidden; }
    @media (min-width: 1112.11111px) {
      /* line 231, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .intro .chess-board {
        width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        position: relative;
        border-radius: 10px 10px 0 0; }
        /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .intro .chess-board.rotate {
          transform: rotate(180deg); }
        /* line 17, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .intro .chess-board .row {
          height: 125px;
          display: flex;
          margin: 0;
          padding: 0; }
          /* line 25, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n) .tile:nth-child(2n) {
            background-color: #e6e6ea; }
          /* line 28, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n) .tile:nth-child(2n-1) {
            background-color: #f4f4f8; }
          /* line 35, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n-1) .tile:nth-child(2n) {
            background-color: #f4f4f8; }
          /* line 38, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n-1) .tile:nth-child(2n-1) {
            background-color: #e6e6ea; }
          /* line 44, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row .tile {
            width: 125px;
            height: 125px;
            line-height: 125px;
            text-align: center;
            font-size: 3em;
            font-family: "Roboto";
            text-transform: uppercase;
            overflow: hidden;
            -webkit-user-select: none;
            position: relative; }
            /* line 56, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile:after {
              content: '';
              background-repeat: no-repeat;
              background-size: 80%;
              background-position: center;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0; }
            /* line 69, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.rotate:after {
              transform: rotate(180deg); }
            /* line 74, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.pawn:after {
              background-image: url("/chess-icons/black-pawn-f4007d9278db726da1fc7a9dae747d9d.svg?vsn=d"); }
            /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.rook:after {
              background-image: url("/chess-icons/black-rook-b8b321d9bc120904d0e91cc7d69631b1.svg?vsn=d"); }
            /* line 80, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.bishop:after {
              background-image: url("/chess-icons/black-bishop-358199bf3bbf60707bd14d51f5a6195b.svg?vsn=d"); }
            /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.knight:after {
              background-image: url("/chess-icons/black-knight-73bb1bea3038a47a08113efaf2e74178.svg?vsn=d"); }
            /* line 86, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.king:after {
              background-image: url("/chess-icons/black-king-10a0f67eca4d83f155ac4d0403ffe072.svg?vsn=d"); }
            /* line 89, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.queen:after {
              background-image: url("/chess-icons/black-queen-94a03936ddb6454f9701cd664312e13e.svg?vsn=d"); }
            /* line 95, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.pawn:after {
              background-image: url("/chess-icons/white-pawn-0e0e93ec0ab93ae2e8fc81279e59d5e6.svg?vsn=d"); }
            /* line 98, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.rook:after {
              background-image: url("/chess-icons/white-rook-b30d5db104cbadec14b942462c44540d.svg?vsn=d"); }
            /* line 101, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.bishop:after {
              background-image: url("/chess-icons/white-bishop-27d4707215f3436c185e2b5207764b89.svg?vsn=d"); }
            /* line 104, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.knight:after {
              background-image: url("/chess-icons/white-knight-941ee75ecddc987184e67a1bb5f5f57d.svg?vsn=d"); }
            /* line 107, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.king:after {
              background-image: url("/chess-icons/white-king-e2d27341045bb0329255aedc1081e428.svg?vsn=d"); }
            /* line 110, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.queen:after {
              background-image: url("/chess-icons/white-queen-359116c6989bcf2dc4fc3e07a5e7da78.svg?vsn=d"); }
            /* line 116, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              transition: 0.25s ease-out; }
            /* line 134, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.valid:before {
              background-color: rgba(112, 193, 179, 0.25); }
            /* line 137, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.valid.target:before {
              background-color: rgba(242, 95, 92, 0.5); }
            /* line 140, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.active:before {
              background-color: rgba(36, 123, 160, 0.5); }
            /* line 143, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.opp-active:before {
              background-color: rgba(242, 95, 92, 0.5); } }
    @media (max-width: 1111.11111px) {
      /* line 231, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .intro .chess-board {
        width: 90vw;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        position: relative;
        border-radius: 10px 10px 0 0; }
        /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .intro .chess-board.rotate {
          transform: rotate(180deg); }
        /* line 17, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .intro .chess-board .row {
          height: 11.25vw;
          display: flex;
          margin: 0;
          padding: 0; }
          /* line 25, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n) .tile:nth-child(2n) {
            background-color: #e6e6ea; }
          /* line 28, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n) .tile:nth-child(2n-1) {
            background-color: #f4f4f8; }
          /* line 35, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n-1) .tile:nth-child(2n) {
            background-color: #f4f4f8; }
          /* line 38, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row:nth-child(2n-1) .tile:nth-child(2n-1) {
            background-color: #e6e6ea; }
          /* line 44, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .intro .chess-board .row .tile {
            width: 11.25vw;
            height: 11.25vw;
            line-height: 11.25vw;
            text-align: center;
            font-size: 3em;
            font-family: "Roboto";
            text-transform: uppercase;
            overflow: hidden;
            -webkit-user-select: none;
            position: relative; }
            /* line 56, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile:after {
              content: '';
              background-repeat: no-repeat;
              background-size: 80%;
              background-position: center;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0; }
            /* line 69, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.rotate:after {
              transform: rotate(180deg); }
            /* line 74, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.pawn:after {
              background-image: url("/chess-icons/black-pawn-f4007d9278db726da1fc7a9dae747d9d.svg?vsn=d"); }
            /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.rook:after {
              background-image: url("/chess-icons/black-rook-b8b321d9bc120904d0e91cc7d69631b1.svg?vsn=d"); }
            /* line 80, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.bishop:after {
              background-image: url("/chess-icons/black-bishop-358199bf3bbf60707bd14d51f5a6195b.svg?vsn=d"); }
            /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.knight:after {
              background-image: url("/chess-icons/black-knight-73bb1bea3038a47a08113efaf2e74178.svg?vsn=d"); }
            /* line 86, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.king:after {
              background-image: url("/chess-icons/black-king-10a0f67eca4d83f155ac4d0403ffe072.svg?vsn=d"); }
            /* line 89, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-0.queen:after {
              background-image: url("/chess-icons/black-queen-94a03936ddb6454f9701cd664312e13e.svg?vsn=d"); }
            /* line 95, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.pawn:after {
              background-image: url("/chess-icons/white-pawn-0e0e93ec0ab93ae2e8fc81279e59d5e6.svg?vsn=d"); }
            /* line 98, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.rook:after {
              background-image: url("/chess-icons/white-rook-b30d5db104cbadec14b942462c44540d.svg?vsn=d"); }
            /* line 101, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.bishop:after {
              background-image: url("/chess-icons/white-bishop-27d4707215f3436c185e2b5207764b89.svg?vsn=d"); }
            /* line 104, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.knight:after {
              background-image: url("/chess-icons/white-knight-941ee75ecddc987184e67a1bb5f5f57d.svg?vsn=d"); }
            /* line 107, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.king:after {
              background-image: url("/chess-icons/white-king-e2d27341045bb0329255aedc1081e428.svg?vsn=d"); }
            /* line 110, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.color-1.queen:after {
              background-image: url("/chess-icons/white-queen-359116c6989bcf2dc4fc3e07a5e7da78.svg?vsn=d"); }
            /* line 116, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              transition: 0.25s ease-out; }
            /* line 134, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.valid:before {
              background-color: rgba(112, 193, 179, 0.25); }
            /* line 137, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.valid.target:before {
              background-color: rgba(242, 95, 92, 0.5); }
            /* line 140, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.active:before {
              background-color: rgba(36, 123, 160, 0.5); }
            /* line 143, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
            .home-page .intro .chess-board .row .tile.opp-active:before {
              background-color: rgba(242, 95, 92, 0.5); } }
  /* line 244, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .home-page .about {
    background-color: #f4f4f8;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 600px; }
    /* line 251, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .about.second-about {
      background-color: #e6e6ea; }
      /* line 253, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .about.second-about .chess-board {
        transform: translateX(16.875vh);
        border-radius: 0 0 0 10px;
        align-self: flex-start; }
    /* line 260, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .about .chess-board {
      width: 50vw;
      margin: 0 auto;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      position: relative;
      margin: 0;
      width: 78.75vh;
      transform: translateX(-5.625vh);
      transition: 0.25s ease-in-out;
      align-self: flex-end;
      border-radius: 0 10px 0 0; }
      /* line 13, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .home-page .about .chess-board.rotate {
        transform: rotate(180deg); }
      /* line 17, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
      .home-page .about .chess-board .row {
        height: 7.14286vw;
        display: flex;
        margin: 0;
        padding: 0; }
        /* line 25, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .about .chess-board .row:nth-child(2n) .tile:nth-child(2n) {
          background-color: #e6e6ea; }
        /* line 28, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .about .chess-board .row:nth-child(2n) .tile:nth-child(2n-1) {
          background-color: #f4f4f8; }
        /* line 35, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .about .chess-board .row:nth-child(2n-1) .tile:nth-child(2n) {
          background-color: #f4f4f8; }
        /* line 38, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .about .chess-board .row:nth-child(2n-1) .tile:nth-child(2n-1) {
          background-color: #e6e6ea; }
        /* line 44, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
        .home-page .about .chess-board .row .tile {
          width: 7.14286vw;
          height: 7.14286vw;
          line-height: 7.14286vw;
          text-align: center;
          font-size: 3em;
          font-family: "Roboto";
          text-transform: uppercase;
          overflow: hidden;
          -webkit-user-select: none;
          position: relative; }
          /* line 56, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile:after {
            content: '';
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0; }
          /* line 69, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.rotate:after {
            transform: rotate(180deg); }
          /* line 74, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.pawn:after {
            background-image: url("/chess-icons/black-pawn-f4007d9278db726da1fc7a9dae747d9d.svg?vsn=d"); }
          /* line 77, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.rook:after {
            background-image: url("/chess-icons/black-rook-b8b321d9bc120904d0e91cc7d69631b1.svg?vsn=d"); }
          /* line 80, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.bishop:after {
            background-image: url("/chess-icons/black-bishop-358199bf3bbf60707bd14d51f5a6195b.svg?vsn=d"); }
          /* line 83, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.knight:after {
            background-image: url("/chess-icons/black-knight-73bb1bea3038a47a08113efaf2e74178.svg?vsn=d"); }
          /* line 86, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.king:after {
            background-image: url("/chess-icons/black-king-10a0f67eca4d83f155ac4d0403ffe072.svg?vsn=d"); }
          /* line 89, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-0.queen:after {
            background-image: url("/chess-icons/black-queen-94a03936ddb6454f9701cd664312e13e.svg?vsn=d"); }
          /* line 95, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.pawn:after {
            background-image: url("/chess-icons/white-pawn-0e0e93ec0ab93ae2e8fc81279e59d5e6.svg?vsn=d"); }
          /* line 98, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.rook:after {
            background-image: url("/chess-icons/white-rook-b30d5db104cbadec14b942462c44540d.svg?vsn=d"); }
          /* line 101, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.bishop:after {
            background-image: url("/chess-icons/white-bishop-27d4707215f3436c185e2b5207764b89.svg?vsn=d"); }
          /* line 104, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.knight:after {
            background-image: url("/chess-icons/white-knight-941ee75ecddc987184e67a1bb5f5f57d.svg?vsn=d"); }
          /* line 107, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.king:after {
            background-image: url("/chess-icons/white-king-e2d27341045bb0329255aedc1081e428.svg?vsn=d"); }
          /* line 110, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.color-1.queen:after {
            background-image: url("/chess-icons/white-queen-359116c6989bcf2dc4fc3e07a5e7da78.svg?vsn=d"); }
          /* line 116, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: 0.25s ease-out; }
          /* line 134, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.valid:before {
            background-color: rgba(112, 193, 179, 0.25); }
          /* line 137, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.valid.target:before {
            background-color: rgba(242, 95, 92, 0.5); }
          /* line 140, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.active:before {
            background-color: rgba(36, 123, 160, 0.5); }
          /* line 143, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/components/board.scss */
          .home-page .about .chess-board .row .tile.opp-active:before {
            background-color: rgba(242, 95, 92, 0.5); }
      /* line 270, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .about .chess-board.hidden {
        transform: translateX(78.75vh); }
    /* line 274, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .about .text {
      font-size: 2em;
      color: #f4f4f8;
      text-align: center;
      line-height: 1.5em;
      flex: 1;
      color: #50514f;
      text-align: left;
      max-width: 500px;
      margin: 0 auto; }
      /* line 285, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .about .text .title {
        text-transform: uppercase;
        font-weight: bold;
        color: #f25f5c; }
  /* line 293, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
  .home-page .end {
    font-size: 20px;
    height: 4em;
    line-height: 4em;
    text-align: center;
    background-color: #f4f4f8;
    color: #50514f; }
    /* line 301, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .end .change-color {
      animation: change-color 8s ease-in-out infinite; }
    /* line 304, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
    .home-page .end .link {
      color: #50514f;
      text-decoration: none; }
      /* line 307, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/home_page.scss */
      .home-page .end .link:hover {
        color: #247ba0;
        text-decoration: underline; }

@keyframes change-color {
  0% {
    color: #f25f5c; }
  25% {
    color: #247ba0; }
  50% {
    color: #70c1b3; }
  75% {
    color: #ffe066; }
  100% {
    color: #f25f5c; } }

/* line 4, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/new_user_page.scss */
.new-user-page h2 {
  font-family: "Roboto";
  font-size: 3em;
  text-align: center;
  color: #f4f4f8; }

/* line 10, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/new_user_page.scss */
.new-user-page .alert {
  font-family: "Roboto";
  font-size: 1.5em;
  text-align: center;
  color: #f25f5c; }

/* line 3, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/sign_in_page.scss */
.sign_in-page, .sign_up-page {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  /* line 10, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/sign_in_page.scss */
  .sign_in-page form, .sign_up-page form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    /* line 15, /Users/kyle/Workspace/personal/quantum_chess/web/static/css/page/sign_in_page.scss */
    .sign_in-page form .button, .sign_up-page form .button {
      width: 300px;
      margin: 20px 0;
      padding: 0;
      background-color: #f25f5c;
      color: #f4f4f8; }



/*# sourceMappingURL=app.css.map*/