@import '../variables.scss';
@import '../components/board.scss';

$border-radius: 2px;
$tile-height: 50px;
$tile-width: 300px;
$margin: 5px;

.logged_in-home_page {
  display: flex;
  $offset: 64px + $margin * 2;
  height: calc(100vh - #{$offset});
  padding: $margin;

  .main, .active_games, .active_players {
    margin: 0 10px;
  }

  .main {
    //overflow-y: none;
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    .top {
      background-color: white;
      height: $tile-height;
      line-height: $tile-height;
      margin: $margin 0;
      border-radius: $border-radius;
      font-size: 16px;
      padding-left: 16px;


      .username {
        float: left;
        font-weight: bold;
      }
      .buttons {
        float: right;
        height: $tile-height - $margin * 2;
        line-height: $tile-height - $margin * 2;
        margin: $margin;
        background-color: $red;
        color: $white;
        padding: 0 16px;
        border-radius: $border-radius;
      }

      // display: flex;
      // justify-content: space-between;
      // align-items: center;
    }

    .news {
      display: flex;
      flex-direction: column;

      .scroll-section {
        overflow: scroll;
        overflow-y: auto;
        height: 100%;
      }

      .card-wide {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .active_games, .active_players {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .list-title, .list-item {
    width: $tile-width;
    background-color: white;
    margin: $margin 0;
    height: $tile-height;
    min-height: $tile-height;
    line-height: $tile-height;
    padding-right: 0;
    border-radius: $border-radius;
    position: relative;
    outline: none;

    &.remove-link-styles {
      color: $black;
      text-decoration: none;
    }

    $icon-size: 28px;
    .material-icons {
      position: absolute;
      top: $margin;
      right: $margin;
      bottom: $margin;

      color: $white;
      background-color: $red;
      height: $tile-height - $margin * 2;
      width: $tile-height - $margin * 2;
      line-height: $tile-height - $margin * 2;
      text-align: center;
      border-radius: $border-radius;
      transition: 0.25s ease-in-out;
      font-size: $icon-size;

      &.first {
        font-size: $icon-size;
        z-index: 2;
      }

      &.second {
        font-size: 0px;
        z-index: 1;
      }
    }

    &:hover {
      .material-icons {
        &.first {
          font-size: 0px;
          z-index: 1;
        }

        &.second {
          font-size: $icon-size;
          z-index: 2;
        }
      }
    }
  }

  .list-title {
    $padding: 16px;
    padding-left: $padding;
    width: $tile-width - $padding;

    font-size: 16px;
    text-transform: uppercase;
  }

  .list {
    padding: 0;
    margin: 0 auto;
    overflow: scroll;
    overflow-y: auto;
  }
}

// NEEDS DESIGN FOR LIMITED WIDTH/HEIGHT DISPLAYS

.home-page {
  font-family: $font;
  .intro, .about {
    background-color: $red;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .message {
      font-size: 2em;
      color: $white;
      text-align: center;
      line-height: 1em;
      margin-bottom: 20px;

      &.larger {
        font-size: 3em;
        text-transform: capitalize;
        font-weight: bold;

      }
    }
  }

  .intro {
    justify-content: flex-end;
    overflow: hidden;
    .chess-board {
      $width: 1000px;
      @media (min-width: $width / 0.9 + 1) {
        @include chess-board(8, $width);
        border-radius: 10px 10px 0 0;
      }
      @media (max-width: $width / 0.9) {
        @include chess-board(8, 90vw);
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .about {
    background-color: $white;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    &.second-about {
      background-color: $grey;
      .chess-board {
        transform: translateX(90vh / 16 * 3);
        border-radius: 0 0 0 10px;
        align-self: flex-start;
      }
    }

    .chess-board {
      @include chess-board(7, 50vw);
      margin: 0;
      width: 90vh / 8 * 7;
      transform: translateX(-90vh / 16);
      transition: 0.25s ease-in-out;
      align-self: flex-end;

      border-radius: 0 10px 0 0;

      &.hidden {
        transform: translateX(90vh / 8 * 7);
      }
    }
    .text {
      font-size: 2em;
      color: $white;
      text-align: center;
      line-height: 1.5em;
      flex: 1;
      color: $black;
      text-align: left;
      max-width: 500px;
      margin: 0 auto;

      .title {
        text-transform: uppercase;
        font-weight: bold;
        color: $red;
      }
    }
  }

  .end {
    font-size: 20px;
    height: 4em;
    line-height: 4em;
    text-align: center;
    background-color: $white;
    color: $black;

    .change-color {
      animation: change-color 8s ease-in-out infinite;
    }
    .link {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

@keyframes change-color {
  0% {
    color: $red;
  }
  25% {
    color: $blue;
  }
  50% {
    color: $green;
  }
  75% {
    color: $yellow;
  }
  100% {
    color: $red;
  }
}
