@import '../variables.scss';

.sign_in-page, .sign_up-page {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      width: 300px;
      margin: 20px 0;
      padding: 0;

      background-color: $red;
      color: $white;
    }
  }
}
