<%= render QuantumChess.NavView, "index.html", current_user: @current_user, conn: @conn %>

<%= if @current_user do %>
  <%= render QuantumChess.PageView, "home.html", active_games: @active_games,
                                                 active_users: @active_users,
                                                 current_user: @current_user %>
<% else %>
  <%= render QuantumChess.PageView, "intro.html" %>
<% end %>
